<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>Heavenly Fortunes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Gratitude brings about Heavenly Fortune.
        Forgiveness opens people's hearts. Let us be grateful for everything as we
        work together for oneness in peace."
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>